<app-navbar></app-navbar>

<div class="">
  <section class="contact-section">
    <div class="contact-container">
      <div class="contact-card">
        <img src="./assets/adipta.jpg" alt="Profile Picture" class="profile-pic" />
        <h3 class="mt-3">Adipta Santra</h3>
        <p style="font-weight: bold;">Email: adipta1010@gmail.com</p>
        <a href="https://www.linkedin.com/in/adipta-santra-5978a0219/" target="_blank">
          <img src="./assets/linkedIn.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
        &nbsp;
        <a href="https://github.com/CodeReaper-10/" target="_blank">
          <img src="./assets/github.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
      </div>
      <div class="contact-card">
        <img src="./assets/akshita.jpg" alt="Profile Picture" class="profile-pic" />
        <h3 class="mt-3">Akshita Gupta</h3>
        <p style="font-weight: bold;">Email: akshitagupta15june@gmail.com</p>
        <a href="https://www.linkedin.com/in/akshita-gupta-a4a895187" target="_blank">
          <img src="./assets/linkedIn.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
        &nbsp;
        <a href="https://github.com/akshitagupta15june" target="_blank">
          <img src="./assets/github.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
      </div>
      <div class="contact-card">
        <img src="./assets/dev.jpg" alt="Profile Picture" class="profile-pic" />
        <h3 class="mt-3">Dev Sapariya</h3>
        <p style="font-weight: bold;">Email: devsapariya94@gmail.com</p>
        <a href="https://www.linkedin.com/in/devsapariya94/" target="_blank">
          <img src="./assets/linkedIn.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
        &nbsp;
        <a href="https://github.com/devsapariya94" target="_blank">
          <img src="./assets/github.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
      </div>
      <div class="contact-card">
        <img src="./assets/jexa.jpeg" alt="Profile Picture" class="profile-pic" />
        <h3 class="mt-3">Jexa Patel</h3>
        <p style="font-weight: bold;">Email: jexa2002247@gmail.com</p>
        <a href="https://www.linkedin.com/in/jexa-patel-2953b01b0/" target="_blank">
          <img src="./assets/linkedIn.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
        &nbsp;
        <a href="https://github.com/Jexa-Patel" target="_blank">
          <img src="./assets/github.png" alt="LinkedIn Profile" class="contact-icon" />
        </a>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>