<app-navbar></app-navbar>
<div class="container">
<div>
  <h1>Get Your Game On! - The Ultimate Gaming Experience</h1>
  <p>
    Are you ready to take your gaming to the next level? Look no further than
    our ultimate guide to gaming! From the latest games to the best accessories,
    we've got everything you need to enhance your gaming experience.
  </p>
</div>
<div>
  <h2>Top 5 Games You Need to Play Right Now</h2>
  <p>
    Check out our list of the top 5 games that you absolutely need to play right
    now! These games are taking the gaming world by storm and are sure to
    provide hours of entertainment.
  </p>
  <a href="https://www.ea.com/games/apex-legends" target="_blank">
    <img src="./assets/apex-legends.jpg" alt="Apex Legends"/>
  </a>
  <a href="https://www.callofduty.com/" target="_blank">
    <img src="./assets/call-of-duty.jpg" alt="Call of Duty"/>
  </a>
  <a href="https://www.playstation.com/en-in/games/god-of-war/pc/" target="_blank">
    <img src="./assets/god-of-war.jpg" alt="God of War"/>
  </a>
  <a href="https://www.rockstargames.com/reddeadredemption2/" target="_blank">
    <img src="./assets/red-dead-redemption-2.jpg" alt="Red Dead Redemption 2"/>
  </a>
  <a href="https://playvalorant.com/en-gb/" target="_blank">
    <img src="./assets/valorant.jpg" alt="Red Dead Redemption 2"/>
  </a>
  <a href="https://www.dota2.com/home" target="_blank">
    <img src="./assets/dota-2.jpg" alt="Red Dead Redemption 2"/>
  </a>
</div>
<div><h1>Want to ace in gaming?</h1></div>

<div>
  <h2>Upgrade Your Gaming Setup Today!</h2>
  <p>Take your gaming to the next level with these top notch accessories:</p>
  <a href="https://www.amazon.in/Logitech-Lightspeed-Bluetooth-Headphones-Suspension/dp/B0BR1PDVG2/ref=sr_1_1?keywords=headphones+gaming+rgb&qid=1677964803&s=computers&sprefix=headphone%2Ccomputers%2C211&sr=1-1"
    target="_blank">
    <img src="https://m.media-amazon.com/images/I/71RSZdY7pJL._SX679_.jpg"
      width="300"
      height="250"
      alt="Headset"/>
    </a>
    <a href="https://www.amazon.in/DualSense-Controller-PlayStation-Sony-Playstation/dp/B0BD49LPNW/ref=sr_1_4?keywords=gamepad&qid=1677964718&refinements=p_89%3ASony&rnid=3837712031&s=computers&sprefix=gamep%2Caps%2C209&sr=1-4"
    target="_blank">
    <img src="https://m.media-amazon.com/images/I/7145NGq89bL._SX679_.jpg"
      width="300"
      height="250"
      alt="Wireless Gamepad"/>
    </a>
    <a href="https://www.amazon.in/Logitech-Superlight-Lightweight-Programmable-Compatible/dp/B08RMZKYTL/ref=sr_1_1_sspa?keywords=logitech+g+pro+x+superlight&qid=1677964493&sprefix=logitech+g%2Caps%2C209&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"
    target="_blank">
    <img src="https://m.media-amazon.com/images/I/61WRvXLabPL._SX679_.jpg"
      width="300"
      height="250"
      alt="Wireless Mouse"/>
    </a>
    <a href="https://www.amazon.in/Logitech-Mechanical-Tenkeyless-Detachable-LIGHTSYNC/dp/B07QQB9VCV/ref=sr_1_5?keywords=mechanical+keyboards&qid=1677964618&refinements=p_89%3ALogitech&rnid=3837712031&s=computers&sprefix=mechanical+key%2Caps%2C212&sr=1-5"
    target="_blank">
    <img src="https://m.media-amazon.com/images/I/51K1mE5uVyL._SX679_.jpg"
      width="300"
      height="250"
      alt="Mechanical Keyboard"/>
    </a>
</div>

<div>
  <h1>Upcoming Games to Watch Out For</h1>
</div>
<br>
<div>
  <div>
    <a href="https://www.rockstargames.com/" target="_blank">
      <img src="./assets/gta-6.jpg" alt="Grand Theft Auto VI" />
    </a>
    <div>
      <h2>Grand Theft Auto VI</h2>
      <p>Release Date: TBA</p>
      <p>
        The sequel of the inconic GTA series is coming soon. The game is expected
        to be released in 2024.
      </p>
      <br>
    </div>
  </div>

  <div>
    <a href="https://www.minecraft.net/en-us/about-legends" target="_blank">
      <img src="./assets/minecraft-legends.jpg" alt="Minecraft Legends" />
    </a>
    <div>
      <h2>Minecraft Legends</h2>
      <p>Release Date: 18 April 2023</p>
      <p>
        Minecraft Legends is a new game in the Minecraft series. It is expected
        to be released in 2023 April.
      </p>
    </div>
  </div>
  <br />
  <br />

</div>
</div>
<app-footer></app-footer>
