<app-navbar></app-navbar>
<div>
  <h1>Get Your Game On! - The Ultimate Gaming Experience</h1>
  <p>
    Are you ready to take your gaming to the next level? Look no further than
    our ultimate guide to gaming! From the latest games to the best accessories,
    we've got everything you need to enhance your gaming experience.
  </p>
</div>
<div>
  <h2>Top 5 Games You Need to Play Right Now</h2>
  <p>
    Check out our list of the top 5 games that you absolutely need to play right
    now! These games are taking the gaming world by storm and are sure to
    provide hours of entertainment.
  </p>
  <a href="https://www.ea.com/games/apex-legends" target="_blank"
    ><img
      src="./assets/apex-legends.jpg"
      width="300"
      height="250"
      alt="Apex Legends"
  /></a>
  <a href="https://www.callofduty.com/" target="_blank"
    ><img
      src="./assets/call-of-duty.jpg"
      width="300"
      height="250"
      alt="Call of Duty"
  /></a>
  <a href="https://www.playstation.com/en-us/games/god-of-war/" target="_blank"
    ><img src="./assets/god-of-war.jpg" alt="God of War"
  /></a>
  <a href="https://www.rockstargames.com/reddeadredemption2/" target="_blank"
    ><img src="./assets/red-dead-redemption-2.jpg" alt="Red Dead Redemption 2"
  /></a>
</div>
<div><h1>Want to ace in gaming?</h1></div>

<div>
  <h2>Then Upgrade Your Gaming Setup</h2>
  <p>Take your gaming to the next level with these essential accessories:</p>
  <a
    href="https://www.amazon.in/Austrian-Audio-Microphone-Accessories-Resolution/dp/B09Q8XRFLL/ref=sr_1_4?keywords=gaming+accessories&qid=1677957141&sprefix=gaming+acc%2Caps%2C430&sr=8-4"
    target="_blank"
    ><img
      src="https://m.media-amazon.com/images/I/719vKQBv7rL._AC_UY327_QL65_.jpg"
      width="300"
      height="250"
      alt="Headset"
  /></a>
  <a
    href="https://www.amazon.in/Logitech-Extreme-Gaming-Joystick-White/dp/B00A76N8RO/ref=sr_1_27?keywords=gaming+accessories&qid=1677957414&sr=8-27"
    target="_blank"
    ><img
      src="https://m.media-amazon.com/images/I/61Nlu-1WgRL._AC_UY327_QL65_.jpg"
      width="300"
      height="250"
      alt="Gaming Joystick"
  /></a>
  <a
    href="https://www.amazon.in/Redgear-Pro-Wireless-Gamepad-Black/dp/B0756CLQWL/ref=sr_1_28?keywords=gaming+accessories&qid=1677957414&sr=8-28"
    target="_blank"
    ><img
      src="https://m.media-amazon.com/images/I/51fCmfd8CML._AC_UY327_QL65_.jpg"
      width="300"
      height="250"
      alt="Wireless Gamepad"
  /></a>
</div>

<div>
  <h1>Upcoming Games to Watch Out For</h1>
</div>

<div>
  <div>
    <a href="https://www.rockstargames.com/">
      <img src="./assets/gta-6.jpg" alt="Grand Theft Auto VI" />
    </a>
    <div>
      <h2>Grand Theft Auto VI</h2>
      <p>Release Date: TBA</p>
      <p>
        The squence of Inconic GTA series is coming soon. The game is expected
        to be released in 2024.
      </p>
    </div>
  </div>

  <div>
    <a href="https://www.minecraft.net/en-us/about-legends">
      <img src="./assets/minecraft-legends.jpg" alt="Minecraft Legends" />
    </a>
    <div>
      <h2>Minecraft Legends</h2>
      <p>Release Date: 18 April 2023</p>
      <p>
        Minecraft Legends is a new game in the Minecraft series. It is expected
        to be released in 2023 April.
      </p>
    </div>
  </div>
  <br />
  <br />

  <app-footer></app-footer>
</div>
