<app-navbar></app-navbar>

<div class="topnav" id="myTopnav">
  <a href="cooking.html" class="active">Cooking</a>
  <a href="index.html" class="active">Home</a>



  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<section class="gallery" id="gallery">


<h2 class="heading"> <span>Trending Food Receipe </span> </h2>


  <div class="box-container">
         <div class="box">
          <img src="./assets/s-1.jpg" alt="">
          <div class="content">
              <h3>Indian food</h3>
            <p> 1.Butter Chicken</p>
      <p> 2.Biryani</p>
      <p> 3.Samosas</p>
        <p> 4.Chole Bhature</p>
      <p> 5.Dosa</p>
             
          </div>
         </div>
     
      <div class="box">
          <img src="./assets/s-2.jpg" alt="">
          <div class="content">
              <h3>Korean food</h3>
            <p> 1.Kimchi</p>
      <p> 2.Bibimbap</p>
      <p> 3.Japchae</p>
        <p> 4.Bulgogi</p>
      <p> 5.Tteokbokki</p>
             
          </div>
         </div>
    
     
  
   <div class="box">
          <img src="./assets/s-3.jpg" alt="">
          <div class="content">
              <h3>Thai food</h3>
            <p> 1.Tom Yum Goong</p>
      <p> 2.Pad Thai</p>
      <p> 3.Som Tam</p>
      <p> 4.Massaman Curry</p>
      <p> 5.Mango Sticky Rice</p>
             
          </div>
      </div>
  
   <div class="box">
          <img src="./assets/s-4.jpg" alt="">
          <div class="content">
              <h3>Chinese food</h3>
            <p> 1.Kung Pao Chicken</p>
      <p> 2.Dim Sum</p>
      <p> 3.Hot Pot</p>
      <p> 4.Chow Mein</p>
      <p> 5.Mapo Tofu</p>
             
          </div>
      </div>
  
   <div class="box">
          <img src="./assets/s-5.jpg" alt="">
          <div class="content">
              <h3>Japanese food</h3>
            <p> 1.Sushi</p>
      <p> 2.Ramen</p>
      <p> 3.Tempura</p>
      <p> 4.Udon</p>
      <p> 5.Yakitori</p>
             
          </div>
      </div>
  
   <div class="box">
          <img src="./assets/s-6.jpg" alt="">
          <div class="content">
              <h3>French food</h3>
            <p> 1.Coq au Vin</p>
      <p> 2.Ratatouille</p>
      <p> 3.Beef Bourguignon</p>
      <p> 4.Croissant</p>
      <p> 5.Quiche</p>
             
          </div>
      </div>
  
  </div>

</section>

 <!-- review section starts  -->

 <section class="review" id="review">

  <h1 class="heading"><span>Trending Cooking Challenges</span> </h1>

  <div class="box-container">

      <div class="box">
         
          <h3>Food fusion challenge</h3>
         
          <p>This challenge involves combining two or more cuisines to create unique and delicious flavor combinations.</p>
      </div>
      <div class="box">
          
           <h3>Plant-based cooking challenge</h3>
         
          <p>With more people adopting a plant-based diet, this challenge involves creating delicious and creative vegan meals.</p>
      </div>
     
  
      <div class="box">
         
       <h3>One-pot meal challenge</h3>
         
          <p>One-pot meals are convenient and easy to make, and this challenge involves creating delicious and healthy meals that can be made in one pot or pan.</p>
      </div>

         
      <div class="box">
         
       <h3>Charcuterie board challenge</h3>
         
          <p>Charcuterie boards have become a popular way to entertain guests or enjoy a night in, and this challenge involves creating visually stunning boards with a variety of meats, cheeses, fruits, and crackers..</p>
      </div>

    
      <div class="box">
         
       <h3>Cocktail challenge</h3>
         
          <p> With people spending more time at home, cocktail making has become a popular hobby, and this challenge involves creating unique and delicious cocktails using different spirits and ingredients.</p>
      </div>
      
    
      <div class="box">
         
       <h3>Zero waste cooking challenge</h3>
         
          <p>This challenge involves using every part of an ingredient to reduce food waste and create delicious and creative meals.</p>
      </div>
  </div>

</section>

<!-- review section ends -->


<!-- plan section starts  -->

<section class="plan" id="plan">

  <h1 class="heading"><span>Collaboration</span> </h1>

<div class="box-container">
     
 <div class="box">
       <a href="#"><button class="btn"><h3>Sponsored posts</h3></button></a>
   
    <p>A less-maintenance, yet highly effective way for food brands to work with influencers is an ongoing collaboration and sponsored post strategy. This is a groundswell approach to influencer marketing and allows you to tap into influencers across the spectrum, from top-tier, high-profile digital influencers to micro-influencers with a small but engaged following.
     For this approach to work, you must to be prepared to send out a lot of samples and have budget to pay influencers to spread the word about your products.</p>
 </div>

   <div class="box">
       <a href="#"><button class="btn"><h3>Hospitality reviews</h3></button></a>
   
    <p>Food brands can take on many forms, including hospitality services or venues, such as bars, restaurants, cafes, pubs, coffee shops and food trucks. If your business fits this mould you can connect with influencers to review your business and share it with their community. If you are a restaurant, you will probably want to target the surrounding community, so engage local micro-influencers and invite them to enjoy a complimentary meal with friends.</p>
 </div>
<div class="box">
       <a href="#"><button class="btn"><h3>Events</h3></button></a>
   
    <p>For food and beverage brands in-person events are a great way to get in front of influencers and give them an opportunity to experience the brand and create content in a unique environment. If you’re a restaurant, bar, cafe or hospitality venue, invite a group of influencers and put on a night of cocktails and share platters. If your brand is a product or ingredient, create different bite-sized recipes with the product and serve them at a lavish pool-side event so influencers and consumers can see the versatility of your product.</p>
 </div>

</div>

</section>

<app-footer></app-footer>
