<app-navbar></app-navbar>
<section class="gallery" id="gallery">


<h2 class="heading"> <span>Trending Food Receipe </span> </h2>


    <div class="box-container">
      <div class="box">
          <img src="./assets/s-1.jpg" alt="">
          <div class="content">
            <h3>Indian food</h3>
            <p>1.Butter Chicken</p>
            <p>2.Biryani</p>
            <p>3.Samosas</p>
            <p>4.Chole Bhature</p>
            <p>5.Dosa</p>
          </div>
        </div>
    
      <div class="box">
          <img src="./assets/s-2.jpg" alt="">
          <div class="content">
            <h3>Korean food</h3>
            <p> 1.Kimchi</p>
            <p> 2.Bibimbap</p>
            <p> 3.Japchae</p>
            <p> 4.Bulgogi</p>
            <p> 5.Tteokbokki</p>
          </div>
        </div>
  
      <div class="box">
          <img src="./assets/s-3.jpg" alt="">
          <div class="content">
            <h3>Thai food</h3>
            <p> 1.Tom Yum Goong</p>
            <p> 2.Pad Thai</p>
            <p> 3.Som Tam</p>
            <p> 4.Massaman Curry</p>
            <p> 5.Mango Sticky Rice</p>
          </div>
      </div>
  
      <div class="box">
          <img src="./assets/s-4.jpg" alt="">
          <div class="content">
            <h3>Chinese food</h3>
            <p> 1.Kung Pao Chicken</p>
            <p> 2.Dim Sum</p>
            <p> 3.Hot Pot</p>
            <p> 4.Chow Mein</p>
            <p> 5.Mapo Tofu</p>
          </div>
      </div>
  
      <div class="box">
          <img src="./assets/s-5.jpg" alt="">
          <div class="content">
            <h3>Japanese food</h3>
            <p> 1.Sushi</p>
            <p> 2.Ramen</p>
            <p> 3.Tempura</p>
            <p> 4.Udon</p>
            <p> 5.Yakitori</p>
          </div>
      </div>
  
      <div class="box">
          <img src="./assets/s-6.jpg" alt="">
          <div class="content">
            <h3>French food</h3>
            <p> 1.Coq au Vin</p>
            <p> 2.Ratatouille</p>
            <p> 3.Beef Bourguignon</p>
            <p> 4.Croissant</p>
            <p> 5.Quiche</p>
          </div>
      </div>
  </div>

</section>

<!-- review section starts  -->

<section class="review" id="review">

  <h1 class="heading"><span>Trending Cooking Challenges</span> </h1>

  <div class="box-container">

      <div class="box">
        
          <h3>Food fusion challenge</h3>
        
          <p>This challenge involves combining two or more cuisines to create unique and delicious flavor combinations.</p>
      </div>
      <div class="box">
          
          <h3>Plant-based cooking challenge</h3>
        
          <p>With more people adopting a plant-based diet, this challenge involves creating delicious and creative vegan meals.</p>
      </div>
    
  
      <div class="box">
        
      <h3>One-pot meal challenge</h3>
        
          <p>One-pot meals are convenient and easy to make, and this challenge involves creating delicious and healthy meals that can be made in one pot or pan.</p>
      </div>

        
      <div class="box">
        
      <h3>Charcuterie board challenge</h3>
        
          <p>Charcuterie boards have become a popular way to entertain guests or enjoy a night in, and this challenge involves creating visually stunning boards with a variety of meats, cheeses, fruits, and crackers..</p>
      </div>

    
      <div class="box">
        
      <h3>Cocktail challenge</h3>
        
          <p> With people spending more time at home, cocktail making has become a popular hobby, and this challenge involves creating unique and delicious cocktails using different spirits and ingredients.</p>
      </div>
      
    
      <div class="box">
        
      <h3>Zero waste cooking challenge</h3>
        
          <p>This challenge involves using every part of an ingredient to reduce food waste and create delicious and creative meals.</p>
      </div>
  </div>

</section>

<!-- review section ends -->


<!-- plan section starts  -->

<section class="plan" id="plan">

  <h1 class="heading"><span>Collaboration</span> </h1>

<div class="box-container d-flex justify-content-center">
  <div class="box">
      <a [routerLink]="'/cooking'"><button class="btn"><h3>Sponsored posts</h3></button></a>
  
    <p>A less-maintenance, yet highly effective way for food brands to work with influencers is an ongoing collaboration and sponsored post strategy. This is a groundswell approach to influencer marketing and allows you to tap into influencers across the spectrum, from top-tier, high-profile digital influencers to micro-influencers with a small but engaged following.
    For this approach to work, you must to be prepared to send out a lot of samples and have budget to pay influencers to spread the word about your products.</p>
</div>

  <div class="box">
      <a [routerLink]="'/cooking'"><button class="btn"><h3>Hospitality reviews</h3></button></a>
  
    <p>Food brands can take on many forms, including hospitality services or venues, such as bars, restaurants, cafes, pubs, coffee shops and food trucks. If your business fits this mould you can connect with influencers to review your business and share it with their community. If you are a restaurant, you will probably want to target the surrounding community, so engage local micro-influencers and invite them to enjoy a complimentary meal with friends.</p>
</div>
<div class="box">
      <a [routerLink]="'/cooking'"><button class="btn"><h3>Events</h3></button></a>
  
    <p>For food and beverage brands in-person events are a great way to get in front of influencers and give them an opportunity to experience the brand and create content in a unique environment. If you’re a restaurant, bar, cafe or hospitality venue, invite a group of influencers and put on a night of cocktails and share platters. If your brand is a product or ingredient, create different bite-sized recipes with the product and serve them at a lavish pool-side event so influencers and consumers can see the versatility of your product.</p>
</div>
</div>
</section>
<!-- plan section ends  -->

<!-- gallery section starts -->
<section class="faq" id="faq">
  <h1 class="heading"><span>FAQS</span> </h1>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h3>How to Start A Food Blog?</h3>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p class="header5">
              There are 4 major steps for how to start a food blog:
              <br>
              <br>
              <br>
              1) Research: Choosing your topic, niche and determining what makes you different from what’s already on the market.
              <br>
              <br>
              2) Setup: Technical steps to set up your food blog, like choosing your domain and hosting provider, setting up WordPress, and customizing your WordPress theme.
              <br>
              <br>
              3) Content creation: Creating articles and the other content/media that will populate your blog.
              <br>
              <br>
              4) Promotion: Getting the word out to reach more readers in your target audience.
            </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3>How to learn food photography?</h3>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p class="header5">
                  1) Study the basics: Start by learning the fundamentals of photography such as lighting, composition, exposure, and aperture. There are many online resources and courses available to learn the basics of photography.
                  <br>
                  <br>
                  2) Research and gather inspiration: Look at food photography from different sources, such as cookbooks, magazines, and social media. Analyze the photographs and try to understand the techniques used.
            </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3>What does a food blogger need?</h3>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p class="header5">
                1) Identify a topic for the blog.
                <br>
                <br>
                2) Brainstorm your brand identity.
                <br>
                <br>
                3) Choose a domain name and buy it.
                <br>
                <br>
                4) Host your domain.
                <br>
                <br>
                5) Build your blog.
                <br>
                <br>
                6) Start posting.
            </p>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- gallery section ends -->
<app-footer></app-footer>
