<app-navbar></app-navbar>
<div class="container rewards_catalog_height">
  <h1 class="text-center mt-5 text-white" style="font-family: 'Comfortaa', cursive;" *ngIf="auth.user$ | async as user">Welcome, {{ user.name }}!</h1>
  <h2 class="text-center pt-5 pb-2 text-white" style="font-family: 'Comfortaa', cursive;">Categories</h2>
  
      <div class="row">
        <div *ngFor="let category of categories" class="col-md-4 mb-4">
          <div class="card mb-4 box-shadow align-self-center">
            <img class="card-img-top" src="{{ category.image }}" alt="image">
            <div class="card-body">
              <h5 class="card-title text-center">{{ category.name }}</h5>
              <div class="d-flex justify-content-center align-items-center" *ngIf="category.id != '0'">
                <button class="btn btn-sm button_cs button_signup" [disabled]="category.id == '0'" (click)="suggest(category.id)"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg></button>
              </div>
              <div class="d-flex justify-content-center align-items-center" *ngIf="category.id == '0'">
                <button class="btn btn-sm button_cs button_signup" (click)="suggest(category.id)" disabled><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>