<app-navbar></app-navbar>
<section
  class="features-height d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="align-self-start features_heading">Features</h1>
  <p class="features-desc mt-5">
    In today's content creation field, one of the biggest challenges for the
    creators is coming up with fresh and original ideas that will resonate with
    their audience.

    <br />
    <br />

    Content Cub is an innovative content suggestion platform that allows new and
    upcoming content creators to break down the barriers that they often face
    when trying to come up with original and engaging content.

    <br />
    <br />

    Here are a few ways Content Cub is helping new and upcoming content
    creators:-

    <br />

    1. Generating Ideas: One of the biggest challenges for new content creators
    is coming up with fresh and original ideas. By using APIs to scrape top
    trending topics for each category, Content Cub is helping to generate ideas
    for new content creators.

    <br />

    2. Fostering Community: Creating content can be a lonely and isolating
    experience, especially for new creators. Content Cub is helping to foster a
    sense of community by allowing users to interact with other's content, share
    ideas and give feedback on each other's content.

    <br />

    3. Mobile Accessibility: Content Cub is mobile-responsive, which means that
    new creators can access it on their mobile devices and create content
    on-the-go. This accessibility is important for new creators who may not have
    access to a desktop or laptop computer.
  </p>
</section>
<app-footer></app-footer>
