<div class="landing_page_main">
  <div class="container text-center">
    <section
      class="d-flex flex-column justify-content-center align-items-center heading_landing_page_height"
    >
      <div
        class="d-flex align-items-center justify-content-center gap-3 max_width_landing_page"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/4214/4214072.png"
          alt="Content Cub"
        />
        <div>
          <h1 class="heading_landing_page">
            Content <span class="sub_font">Cub</span>
          </h1>
          <p>Unleash your creativity with us</p>
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center gap-3 my-4 max_width_landing_page"
      >
        <button
          type="button"
          class="btn button_cs button_login"
          [routerLink]="'/dashboard'"
          *ngIf="(auth.isAuthenticated$ | async)"
        >
          Get Started
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-up-right-square-fill"
            viewBox="0 0 20 20"
          >
            <path
              d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"
            />
          </svg>
        </button>
        <button
          type="button"
          class="btn button_cs button_signup"
          (click)="auth.loginWithRedirect()"
          *ngIf="(auth.isAuthenticated$ | async) === false"
        >
          Log In
        </button>
      </div>
    </section>
  </div>
</div>
